.toolbar-icon-administrative-messages-admin-structure:before {
  background-image: url(../icons/message_787878.svg);
}

.toolbar-icon-administrative-messages-admin-structure.is-active:before {
  background-image: url(../icons/message_000000.svg);
}
